<body class="homepageBody">
{{> navbar }}
<h1 class="recipeHeading">Recipes</h1>
<div class="recipes-container">
    {{#each recipes}}
       <div class="recipe-card">
        <a href="/recipe/{{this.id}}" class="recipe-link">
            <img src="{{this.image_url}}" alt="{{this.title}}" class="recipe-img">
            <h3>{{this.title}}</h3>
          </a>  
          <button class="save-button" data-recipe-id="{{this.id}}" >Save (<span class="coming-soon">Coming Soon</span>)</button>
<form action="/ratings" method="post" id="ratingForm"> 
{{#if messages.error}}
  <div class="alert alert-danger">
    {{messages.error}}
  </div>
{{/if}}

<div class="rating" data-recipe-id="{{recipe.id}}">
    <span class="star" data-rating="1">☆</span>
    <span class="star" data-rating="2">☆</span>
    <span class="star" data-rating="3">☆</span>
    <span class="star" data-rating="4">☆</span>
    <span class="star" data-rating="5">☆</span>
 

<input type="hidden" name="value" id="ratingValue">
<input type="hidden" name="recipe_id" value="{{this.id}}">
</div>

<button type="button" id="commentButton-{{this.id}}">Leave a Comment</button>
<button id="submitRating">Submit Rating</button>

<!-- The Modal -->
<div id="commentModal-{{this.id}}" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <h2>Tell Us What You Think!</h2>
    <textarea name="comment" id="comment" placeholder="Type your comment here..."></textarea>
    <button class="submit-comment" id="commentBtn">Submit</button>

    <div id="successMessage-{{this.id}}" class="success-message">
    Successfully Submitted!
   </div>

  </div>
</div>
</form>  
</div>
    {{/each}}
</div>


</body>
<script src="/js/rating.js"></script>
<script src="/js/saveRecipe.js"></script>



