<h1>{{ recipe.title }}</h1>
<img src="{{ recipe.image_url }}" alt="{{ recipe.title }}" class="recipe-detail-img">
<p class="recipe-detail"><strong>Prep:</strong> {{ recipe.prep }} mins</p>
<p class="recipe-detail"><strong>Cook:</strong> {{ recipe.cook }} mins</p>
<p class="recipe-detail"><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
<p class="recipe-detail"><strong>Instructions:</strong> {{ recipe.instructions }}</p>

