<body class="saveBody">
    {{> navbar }}
    {{!-- <main class="main-save">
        <div class="saved-banner">
            <h1>Coming Soon</h1>
        </div>
    </main> --}}
    <h1>View your favorite Recipes, {{user.firstname}}</h1>
    <main class="main-save">
        <h2>Your Saved Recipes</h2>


        {{#if savedRecipes}}
        <div class="recipes-container"> 
            {{#each savedRecipes}}
        <div class="recipe-card">
          <a href="/recipe/{{this.recipe.id}}" class="recipe-link">
            <img src="{{this.recipe.image_url}}" alt="{{this.recipe.title}}" class="recipe-img">
            <h3>{{this.recipe.title}}</h3>
            {{#if this.rating}}
                <p>Rating: {{rating.value}}</p>
            {{/if}}
          </a>  
            <button class="delete-btn" data-id="{{this.id}}">Delete</button>
        </div>
            {{/each}}
        </div>
        {{else}}
        <p>You haven't saved any recipes yet.</p>
        {{/if}}
    </main>
</body>
    <script src="/js/saveRecipe.js"></script>