<body class="homepageBody">
    {{>navbar}}
<main class="recipes-container">
        {{#if ratedRecipes}}

            {{#each ratedRecipes}}
        
            <section class="social-cards">
                <a href="/social/recipe/{{this.id}}">
                    <img src="{{this.image_url}}" alt="{{this.title}}" class="recipe-img">
                </a>
                    <h2>{{this.title}}</h2>
            </section>
            {{/each}}

        {{else}}
        <p>No rated recipes found.</p>
        {{/if}}
 </main>
</body>



        